<table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Email</th>
            <th class="mdl-data-table__cell--non-numeric">Telephone</th>
            <th class="mdl-data-table__cell--non-numeric">Address</th>
            <th class="mdl-data-table__cell--non-numeric">Street</th>
            <th class="mdl-data-table__cell--non-numeric">City</th>
            <th class="mdl-data-table__cell--non-numeric">State</th>
            <th class="mdl-data-table__cell--non-numeric">Zip</th>
            <th class="mdl-data-table__cell--non-numeric">Edit</th>
            <th class="mdl-data-table__cell--non-numeric">Delete</th>
        </tr>
    </thead>
    <tbody id="contacts">
    </tbody>
</table>

<script src="js/parts/list.js" async></script>